* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(231, 230, 230);
    font-family: "Verdana";
    margin: 0 auto;
}
section {
    margin: 0 auto;
}

#title, .subtitle {
    color: rgb(113, 113, 128);
    margin: 15px;
}
#title {
    text-transform: uppercase;
}

.photo {
    border-radius: 50%;
    margin: 10px;
}

.post-title {
    color: rgb(113, 113, 128);
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
}
.post {
    background: #fff;
    padding: 15px;
    border: solid 3px black;
    margin: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 900px;
}
.post-content {
    margin-bottom: 15px;
    text-align: center;
}
.post-image {
    margin-bottom: 15px;
    margin-left: 110px;
    border-radius: 10px;
}

.links-list {
    list-style-type: none;
    margin-left: 15px;
    margin-bottom: 30px;
}
.links-list li a {
    color: rgb(113, 113, 128);
}